.activities-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding-left: 25px;
}

.activities-text-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  padding: 25px;
  width: 40%;
}

.activities-carousel-container {
  align-self: stretch;
  width: 60%;
}
