.volunteering-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: clip;
}

.volunteering-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.volunteering-img-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.volunteering-img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 0px;
  /* height: 916px;
    width: auto; */
}

.volunteering-bottom-text-container {
  background: rgba(0, 0, 0, 0.36);
  display: flex;
  /* padding: 20px;
  gap: 40px; */
  align-items: flex-start;
  position: absolute;
  bottom: 0px;
  flex-direction: row;
}

.title-mobile {
  font-size: 64px !important;
}
