.container-carousel {
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1920px) {
  .carousel-nav-button {
    height: 75px;
    width: 75px;
  }
}
