.nonprofit-text {
  color: #000;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nonprofit-text-mobile {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.nav-link {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
}

.nav-link::after {
  content: "";
  background-color: black;
  width: inherit;
  height: 0.1em;
  transition: transform ease 300ms;
  transform: scale(0, 1);
  transform-origin: center;
}

.nav-link:hover::after {
  transform: scale(1);
}

.links-container {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .nav-link {
    font-size: 20px;
  }

  .links-container {
    width: 750px;
  }
}

@media screen and (min-width: 1920px) {
  .links-container {
    width: 1280px;
  }

  .nav-link {
    font-size: 32px;
  }
}
